* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: gray;
    color: white
}

header h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;
}

header nav {
    display: flex;
    gap: 15px;  
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    color: white;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

main {
  display: flex;
  justify-content: center; /* centra horitzontalment */
  margin-top: 40px;
}

.producte {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  width: 250px;
}

.producte img {
  width: 100%;
  border-radius: 10px;
}

.producte p {
  color: black;
  font-weight: bold;
}

