body {
    font-family: Arial, sans-serif;
    background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=800&q=80') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgb(255, 255, 255);
    padding: 20px 40px;
    border-radius: 16px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.466);
    width: 340px;
    }

.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

.input-icon {
    position: relative;
    margin-bottom: 20px;
}

.input-icon input {
    width: 100%;
    padding: 7px 22px 7px 10px;
    border: none;
    border-bottom: 2px solid #bbb;
    background: transparent;
    font-size: 10px;
    outline: none;
    color: #222;
}

.input-icon input:focus {
    border-bottom: 2px solid #0078d7;
}

.input-icon i {
    position: absolute;
    right: 1.6px;
    top: 0%;
    color: #0078d7;
    font-size: 18px;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.login-container button {
    width: 100%;
    padding: 0.7rem;
    background: #0078d7;
    color: #fff;
    border: none;
    border-radius: 24px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 1px;
}

.login-container button:hover {
    background: #005fa3;
}

.login-container a {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #0078d7;
    text-decoration: none;
    font-size: 15px;
}

.login-container a:hover {
    text-decoration: underline;
}